mixin footer(index)
  footer.footer
    .wrapper
      .footer__row

        .footer__col
          .footer__container
            .footer__logo
              img(src="images/logo-main.jpg" alt="logo" width="110" height="80").d-block
            .footer__logo-description Франшиза бара безалкогольных напитков

        .footer__col
          a(href="#" data-remodal-target="privacy").footer__privacy.font-m-reg.color-gold-1.d-block Политика конфиденциальности
