mixin header()
  header.header
    .header__wrapper
      .wrapper
        .header__inner
          .header__container
            .header__logo
              img(src="images/logo-main.jpg" alt="logo" width="196" height="85").d-block
            .header__description Франшиза коворкинг-пространства
