section.main-section
  .wrapper
    .main-section__inner
      h1.main-section__title.font-s-36 Начните зарабатывать 
        span.color-primary-2 от 1,3 млн ₸ 
        br
        |ежемесячно на продаже 
        br
        span.color-primary-2 bubble tea, мороженого и десертов

      .main-section__description.font-s-24 Запустите работу бизнеса 
        br
        |с командой сети «TaiTea»
        img(src="images/pointer.svg" alt="Bot" width="113" height="113").d-block

      .main-section__chat
        form(data-feedback-form).chat
          .chat__container.chat-container#chatContainer
            .chat__bot-avatar
              div
                img(src="images/bot-avatar.png" alt="Bot" width="100" height="100").d-block
                span
            .chat__wrapper#chatContentWrapper
              .chat__content#chatContent
              .typing-indicator#typingIndicator
                div
                  |Мадина печатает
                  span .
                  span .
                  span .
              .chat__status#status(style="display: none;")
                div
                  img(src="images/checked.svg", alt="status" width="40" height="40")
                  |Ваша заявка принята!
            input(type="text" name="honeyfield" class="honeypot" style="display:none")

        .main-section__image-container
          .main-section__image
            img(src="images/main-image.jpg" alt="image" width="418" height="483").d-block
          .main-section__image-decor
            img(src="images/image-decor.png" alt="image" width="112" height="514").d-block
