.main-section
  width 100%
  position relative
  max-width: 1920px
  margin: 0 auto
  width 100%

  &__inner
    padding: 12px 0 0 0
    +above($breakpoints.sm)
      padding: 24px 0 0 0
    +above($breakpoints.md)
      padding: 30px 0 0 0
    +above($breakpoints.xxl)
      padding: 40px 0 0 0

  &__title
    margin: 0 0 10px 0
    color: $color-primary
    position relative
    z-index 44
    +above($breakpoints.sm)
      margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 38px 0
    +above($breakpoints.xxl)
      margin: 0 0 50px 0

  &__description
    position relative
    z-index 44
    display: inline-block
    background-color: $color-primary
    color: $color-white
    margin: 0 0 268px 0
    padding: 10px 20px
    border-radius: 14px
    +above($breakpoints.sm)
      margin: 0 0 40px 0
      padding: 10px 20px
      border-radius: 14px
    +above($breakpoints.md)
      margin: 0 0 60px 0
      padding: 14px 30px
      border-radius: 16px
    +above($breakpoints.xxl)
      margin: 0 0 100px 0
      padding: 20px 40px
      border-radius: 20px
    img
      position: absolute
      z-index -1
      height: auto
      left: 100%
      transform: rotate(123.49deg)
      margin: 0 0 0 -15px;
      bottom: -86px;
      width: 84px;
      +above($breakpoints.sm)
        transform: rotate(113.49deg)
        margin: 0 0 0 18px
        bottom: -20px
        width 56px
      +above($breakpoints.md)
        margin: 0 0 0 26px
        bottom: -30px
        width 76px
      +above($breakpoints.xxl)
        margin: 0 0 0 42px
        bottom: -60px
        width 113px
    br
      display: inline-block

  &__chat
    position: relative
    z-index 22

  &__image-container
    position: absolute
    pointer-events: none
    z-index 2
    bottom: 100%
    right: calc(50% - 67px)
    +above($breakpoints.sm)
      right: 30px
    +above($breakpoints.md)
      right: 70px
    +above($breakpoints.xxl)
      right: 92px

  &__image
    img
      height: auto
      width 220px
      border-radius: 14px 14px 0 0;
      +above($breakpoints.md)
        width 310px
        border-radius: 20px 20px 0 0;
      +above($breakpoints.xxl)
        border-radius: 30px 30px 0 0;
        width 418px

  &__image-decor
    position: absolute
    top: -5px;
    right: -29px
    +above($breakpoints.sm)
      top: -10px
      right -20px
    +above($breakpoints.md)
      top: -12px
      right -24px
    +above($breakpoints.xxl)
      top: -15px
    img
      height: auto
      width 58px
      +above($breakpoints.sm)
        width 60px
      +above($breakpoints.md)
        width 84px
      +above($breakpoints.xxl)
        width 112px
