.wrapper
  max-width: 362px
  margin: 0 auto
  padding: 0 6px
  +above($breakpoints.sm)
    max-width: 720px
    margin: 0 auto
    padding: 0 12px
  +above($breakpoints.md)
    max-width: 970px
    padding: 0 15px
  +above($breakpoints.xxl)
    padding: 0 20px
    max-width: 1244px

section
  font-size: 14px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 18px

h1,
h2,
h3,
h4
  font-family: "Involve-Bold"
  font-weight: 700

.d-flex
  display: flex
.d-block
  display: block
.d-i-block
  display: inline-block
.d-inline
  display: inline
.d-none
  display: none

.color-white
  color: $color-white
.color-black
  color: $color-black
.color-black-2
  color: $color-black-2
.color-primary
  color: $color-primary
.color-primary-2
  color: $color-primary-2

.font-i-reg
  font-family: "Involve-Regular"
  font-weight: 400
.font-i-bold
  font-family: "Involve-Bold"
  font-weight: 700

.font-s-12
  font-size: 12px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 10px
  +above($breakpoints.md)
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 12px
.font-s-14
  font-size: 11px
  line-height: normal
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px
.font-s-15
  font-size: 13px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 12px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 15px
.font-s-16
  line-height: 115%
  font-size: 14px
  +above($breakpoints.sm)
    font-size: 13px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 16px
.font-s-18
  font-size: 16px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-19
  font-size: 16px
  line-height: 130%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 17px
  +above($breakpoints.xxl)
    font-size: 19px
.font-s-20
  font-size: 12px
  line-height: 115%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-22
  font-size: 16.5px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 15.5px
  +above($breakpoints.md)
    font-size: 18.5px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-24
  font-size: 17px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 15.6px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-26
  font-size: 18px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 17px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-30
  font-size: 16px
  line-height: 130%
  +above($breakpoints.sm)
    font-size: 17px
  +above($breakpoints.md)
    font-size: 23px
  +above($breakpoints.xxl)
    font-size: 30px
.font-s-36
  font-size: 24px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 23px
  +above($breakpoints.md)
    font-size: 28px
  +above($breakpoints.xxl)
    font-size: 36px

.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic
.text-bold
  font-weight: bold

.tap-color
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.border-r-10
  border-radius: 8px
  +above($breakpoints.xxl)
    border-radius: 10px
.border-r-20
  border-radius: 14px
  +above($breakpoints.xxl)
    border-radius: 20px

.transform-unset
  +above($breakpoints.sm)
    transform: unset !important
    transform-style: unset !important
